.App {
  text-align: center;
  margin: 0;
  padding: 0;
  color: #fff;
  background-color: #000;
  font: 14px;
}

.listItem {
  list-style-type: none;
}

.playPauseButt {
  color: white;
  display: -webkit-inline-box;
  padding-right: 20px;
}

.trackName {
  display: -webkit-inline-box;
}

.musicInfo {
  display: flow-root;
  padding-left: 35px;
  padding: 10px;
}

.songListItem{
  display: -webkit-inline-box;
}

.result {
  width: 150px;
  height: 125px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: -webkit-box;
  padding: 30px;
}

.artAndInfo {
  display: -webkit-inline-box;
  padding: 50px;
}

.art {
  margin: auto;
  padding-right: 25px;
}

.info {
  margin: auto;
  text-align: center;
  padding-left: 25px;
}

.trackList {
  text-align: start;
  list-style-type: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
